<!DOCTYPE html>
<html>
<head>
    <title>首页 - ByBlog </title>
    <meta name="keywords" content="ByBlog,markdown,thinkphp,博客系统,前端博客" />
    <meta name="description" content="ByBlog,markdown,thinkphp,博客系统,前端博客" />
    <include file = "./Public/Public_head_link"/>
</head>
<body>
<include file = "./Public/Public_header"/>
<div id="content" class="home-index container">
    <div class="row pt-xlg">
        <div class="col s12 m12 l9">
            <volist name="data" id="vo">
                <div class="a-list">
                    <p class="f-24 mb-none">
                        <a class="waves-effect waves-light" href="{:U('Home/Content/content/id/'.$vo['a_id'])}">{$vo.a_title}</a>
                    </p>
                    <p class="c-666">{$vo.a_remark}</p>
                    <p class="c-999">20{$vo.a_time|date="y/m/d H:i",###}发表</p>
                </div>
            </volist>
        </div>
        <div class="col s12 m12 l3">
            1111
        </div>
    </div>

    <div class="pagination center">
        {$page}
    </div>
</div>
<include file = "./Public/Public_footer"/>
<include file = "./Public/Public_foot_script"/>
</body>
</html>














