@charset "utf-8";

nav .button-collapse i{
    padding-left: 1rem;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.pagination a,.pagination .current{
    font-size: 16px;
    padding: 5px 8px;
}
.pagination .current{
    background: #ee6e73;
    color: #fff;
}


