<!DOCTYPE html>
<html>
<head>
    <title>11</title>
    <include file = "./Public/Public_head_link"/>
</head>
<body>
<include file = "./Public/Public_header"/>
<div id="content" class="container">
    <div class="row pt-60">
        <div class="col s12">
            <table class="hoverable">
                <thead>
                <tr>
                    <th data-field="id">文章标题</th>
                    <th data-field="price">操作</th>
                </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.a_title}</td>
                            <td>
                                <a href="#">编辑</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            <div class="pagination right">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file = "./Public/Public_footer"/>
<include file = "./Public/Public_foot_script"/>
</body>
</html>














