<nav>
    <div class="container nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="by bym-liebiao1"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{:U('Admin/Blog/add')}">写文章</a></li>
            <li><a href="{:U('Admin/Blog/listA')}">文章列表</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{:U('Admin/Blog/add')}">写文章</a></li>
            <li><a href="{:U('Admin/Blog/listA')}">文章列表</a></li>
        </ul>
    </div>
</nav>