<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">ByBlog</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="by bym-liebiao1"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">首页</a></li>
            <li><a href="#">归档</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">首页</a></li>
            <li><a href="#">归档</a></li>
        </ul>
    </div>
</nav>
