<nav>
    <div class="container nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="by bym-liebiao1"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="badges">标签</a></li>
            <li><a href="buttons">按钮</a></li>
            <li><a href="footer">页脚</a></li>
            <li><a href="mobile">手机</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="badges">标签</a></li>
            <li><a href="buttons">按钮</a></li>
            <li><a href="footer">页脚</a></li>
            <li><a href="mobile">手机</a></li>
        </ul>
    </div>
</nav>
