<footer class="page-footer pt-none">
    <div class="container">
        <div class="row mb-none">
            <div class="col l6 s12">
                <h5 class="white-text">ByBlog</h5>
                <p class="grey-text text-lighten-4">业余开发，三流程序员。。。</p>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259994232'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259994232%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
            <div class="col l3 offset-l3 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.thinkphp.cn/">ThinkPHP</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.materialscss.com/">Materialize</a></li>
                    <li><a class="grey-text text-lighten-3" href="{:U('/Admin/Login/index')}">进入后台</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - 2099 Copyright ByBlog
            <a class="grey-text text-lighten-4 right">基于ThinkPHP V{$Think.version}</a>
        </div>
    </div>
</footer>