<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <include file = "./Public/Public_head_link"/>
</head>
<body>
<div id="content" class="container">
    <div class="row center-align">
        <form class="col offset-s3 s6" action="__URL__/login" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">用户名</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">密码</label>
                </div>
            </div>
            <div class="col s12 p-none">
                <button class="btn waves-effect waves-light right" type="submit" name="action">登录
                    <i class="by bym-feiji right"></i></button>
            </div>
        </form>
    </div>
</div>
<include file = "./Public/Public_foot_script"/>
<script>
    var mt = document.body.clientHeight;
    $('form').css("margin-top",mt);
</script>
</body>
</html>