<!DOCTYPE html>
<html>
<head>
    <title>{$data.a_title} - ByBlog </title>
    <meta name="keywords" content="{$data.a_keyword}" />
    <meta name="description" content="{$data.a_remark}" />
    <include file = "./Public/Public_head_link"/>
    <link href="__PUBLIC__/Plugin/highlight/androidstudio.css" rel="stylesheet"/>
    <script src="__PUBLIC__/Plugin/highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<include file = "./Public/Public_header"/>
<div class="container pt-xlg">
    <div class="row">
        <div class="col s12 m8 l9">
            <h3 class="">{$data.a_title}</h3>
            <p class="c-999">20{$data.a_time|date="y/m/d H:i",###}发表</p>
            <hr>
            <p id="contentMd" style="display: none">{$data.a_content}</p>
            <div id="content">
            </div>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{$data.a_id}" data-title="{$data.a_title}" data-url="{:U('Home/Content/content/id/'.$vo['a_id'])}"></div>
            <!-- 多说评论框 end -->
        </div>
        <div class="col s12 m4 l3">2</div>
    </div>
</div>
<include file = "./Public/Public_footer"/>
<include file = "./Public/Public_foot_script"/>
<script src="__PUBLIC__/MarkdownEditor/WebMarked/marked.js"></script>
<script>
    document.getElementById('content').innerHTML =
            marked(document.getElementById('contentMd').innerText);
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    var duoshuoQuery = {short_name:"weberpub"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
<!-- 多说公共JS代码 end -->
</script>
</body>
</html>














