<!DOCTYPE html>
<html>
<head>
    <title>{$data.a_title} - ByBlog </title>
    <meta name="keywords" content="{$data.a_keyword}" />
    <meta name="description" content="{$data.a_remark}" />
    <include file = "./Public/Public_head_link"/>
    <link href="__PUBLIC__/Plugin/highlight/androidstudio.css" rel="stylesheet"/>
    <script src="__PUBLIC__/Plugin/highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<include file = "./Public/Public_header"/>
<div class="container pt-xlg">
    <div class="row">
        <div class="col s12 m8 l9">
            <p class="f-36 mb-none">{$data.a_title}</p>
            <p class="c-999">20{$data.a_time|date="y/m/d H:i",###}发表</p>
            <hr>
            <p id="contentMd" style="display: none">{$data.a_content}</p>
            <div id="content">
            </div>
            <p class="f-18">分享到：</p>
            <div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                <a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
                <a title="分享到Facebook" href="#" class="bds_fbook" data-cmd="fbook"></a>
                <a title="分享到linkedin" href="#" class="bds_linkedin" data-cmd="linkedin"></a>
                <a title="分享到Twitter" href="#" class="bds_twi" data-cmd="twi"></a>
            </div>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{$data.a_id}" data-title="{$data.a_title}" data-url="{:U('Home/Content/content/id/'.$vo['a_id'])}"></div>
            <!-- 多说评论框 end -->
        </div>
        <div class="col s12 m4 l3">
            22222222
        </div>
    </div>
</div>
<include file = "./Public/Public_footer"/>
<include file = "./Public/Public_foot_script"/>
<script src="__PUBLIC__/MarkdownEditor/WebMarked/marked.js"></script>
<script>
    document.getElementById('content').innerHTML =
            marked(document.getElementById('contentMd').innerText);
    // 百度分享
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["renren","douban","youdao","evernotecn","mshare"],"bdPic":"","bdStyle":"1","bdSize":"32"},
        "share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    var duoshuoQuery = {short_name:"weberpub"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
<!-- 多说公共JS代码 end -->
</script>
</body>
</html>














